body{
    background-image: url(viagem.png);
}
h1{
    color: #ffd000;
    font-style: italic;
}
.banner{
    color: aliceblue;
    font-style: italic;
    display: flex;
    flex-direction: row;
    padding-left: 1380px;
}
a{
    margin: 20px;
}
.texto{
    color: aliceblue;
    font-style: italic;
    width: 658px;
    height: 217px;
    font-size: 23px;
    padding-left: 1124px;
    margin-top: 121px;
}
.botao{
    padding-left: 1124px;
}
